/*****reset*****/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font: 14px "microsoft yahei";
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000;
}
.layout {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.background-container {
    background-color: #337ab7;
    width: 100%;
}

/*****header*****/

#header {
    height: 100%;
    width: 100%;
    background: url(./photos/header.jpg) no-repeat;
    background-size: cover;
    display: table;
    text-align: center;
}
.header-content {
    display: table-cell;
    vertical-align: middle;
}
.header-content>h1 {
    line-height: 2;
}
.header-content>p {
    line-height: 2;
    font-size: 20px;
    color: #fff;
}
.header-content>a {
    line-height: 2;
    padding: 7px;
    border: 1px solid rgba(32, 101, 132, 0.6);
    border-radius: 3px;
}
.header-content>a:hover {
    border: 1px solid rgba(32, 101, 132, 1);
}
.header-description>p{
  text-align: justify;
}
/*****content*****/


/*****content/services******/

.resources>h1 {
    padding-top: 40px;
}
.resources hr {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.resource {
    margin-bottom: 0;
    padding-left: 0;
}
.resource>li {
    float: left;
    width: 25%;
    padding-bottom: 70px;
}
.resource p {
    margin: 0 auto 15px auto;
    width: 80%;
    max-height: 4em;
    overflow: hidden;
}
.resource a {
    border: 1px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}
.resource a:hover{
  background-color: #d3d3d3;
}
/*****content/content-description******/

.content-description {
    background: url(./photos/description.jpg) 0 -90px no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 3em;
    color: #eee;
    padding: 10% 0;
}

/*****content/our-works******/
.character{
  margin-top: 30px;
}
.characters>h1 {
    text-align: center;
    margin: 100px 0 20px 0;
}
.characters>hr{
  width: 30%;
}
.characters li {
    float: left;
    margin: 18px 10px 0 10px;
}
.characters img {
    width: 430px;
    height: 300px;
}

/*****content/more******/

.more {
    margin-top: 10px;
    margin-bottom: 80px;
}
.more>a {
    font-size: 16px;
    color: #eee;
    border: 1px solid #ccc;
    background-color: rgba(152, 152, 152, 0.5);
    padding: 7.5px 15px;
    border-radius: 5px;
}

/*****content/link******/

.link {
    text-align: center;
    height: 125px;
    margin-bottom: 80px;
}
.link>p {
    height: 70px;
    line-height: 70px;
    margin-bottom: 0;
    text-align: center;
}
.link>a {
    margin: 0 15px;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    background-color: #fff;
}
.link>a:last-child {
    background-color: #1e4c6d;
    color: #fff;
}
.link>a:hover{
  background-color: #000;
  color: #ccc;
}
/*****footer******/
.information li{
  margin-bottom: 10px;
}
.icon{
  color: #337ab7;

}
