body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    color: black;
    font-size: 12px;
    font-family: 微软雅黑;
}
#container{
    margin: 0px;
    padding: 0px;
    background-color: white;
} 
#head{
    background: url("头部背景图片_01.jpg") no-repeat;
    width: 1920px;
    height: 30px;
    margin: 0px;
}

#head1{
    width: 1500px;
    line-height: 30px;
    margin: 0px auto;
    color: white;
}
#head1 p{
    float: left;
    margin: 0px 0px 0px 160px;
}
#head1 span{
    float: left;
    margin: 0px 20px 0px 785px;
}
#head1 img .img{
    float: left;
    margin: 0px ;
}
#head1 span a:link,#head1 span a:visited{
    color: white;
    text-decoration: none;
}
#head1 span a:hover,#head1 span a:active{
    color: black;
    text-decoration: none;
}
#daohang{
    font-size: 20px;
    background: url("LOGO区_02.png") no-repeat;
    width: 1920px;
    height: 83px;
}
#daohang ul{
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 40px 350px 0px 0px;
}
#daohang ul li{
    font-size: 17px;
    float: right;
    margin: 0px 20.6px ;
}
#daohang ul li a:link,#daohang ul li a:visited{
    color: black;
    text-decoration: none;
}
#daohang ul li a:hover,#daohang ul li a:active{
    color: red;
    text-decoration: none ;
}
#focus{
    height: 498px;
    width: 1920px;
    background: url("手机背景图片_02.png") no-repeat ;
    margin: 0px;
    padding: 0px;
    border: none;
}
#focus  .p1{
    margin:430px 0px 0px 0px;
}
#focus .p2{
   margin: -100px 0px 20px 370px;
}
#focus .p3 {
    margin: -100px 0px 18px -9px;
}
#focus .p4{
    margin: -100px 0px  18px 270px;
}
#product{
    width: 1920px;
    height: 600px;
    background: url("产品分类背景_02.png") no-repeat ;
    background-color: #f3f2f2;
}
#product_middle{
    width: 1500px;
    margin: 0px auto;
}
#product_middle  img{
    margin: 0px 0px 0px 150px;
}
#product_middle button{
    cursor:pointer;
    margin: 0px 0px 0px 700px;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid lightgray;
}
#product button a:link,#product button a:visited{
    color: #b8b9bb;
    text-decoration: none;
}
#product button a:hover,#product button a:active{
    color: blue;
    text-decoration: none;
}
#case{
    width: 1920px;
    height: 550px;
    background: url("工程案例_04.png") no-repeat;
    background-color: #f3f2f2;
    color: #7b7b7b;
    border: 1px solid #f3f2f2;
}
#case_middle{
    width: 1500px;
    margin: 0px auto;
}

#case_middle  .b1{
    border:1px solid #afaeae;
    font-size: 15px;
    font-weight: bold;
    background-color: #d3504e;
    cursor: pointer;
    margin: 100px 0px 0px 640px;
    padding:8px 16px  4px 16px;
}
#case_middle  .b2{
    border:1px solid #afaeae;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    margin: 100px 0px 0px 20px;
    cursor: pointer;
    padding:8px 16px  4px 16px;
}
#case_middle .b3{
    margin: 350px 0px 0px 705px;
    cursor: pointer;
    background-color: #f3f2f2;
    border: 1px solid lightgray;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}
#case_middle  .b1 a:link,#case_middle  .b1 a:visited{
    text-decoration: none;
    color: white;
}
#case_middle  .b1 a:hover,#case_middle  .b1 a:active{
    text-decoration: none;
    color: white;
}
#case_middle  .b2 a:link,#case_middle  .b2 a:visited{
    text-decoration: none;
    color: gray;
}
#case_middle  .b2 a:hover,#case_middle  .b2 a:active{
    text-decoration: none;
    color: blue;
}
#case_middle  .b3 a:link,#case_middle  .b3 a:visited{
    text-decoration: none;
    color: #b8b9bb;
}
#case_middle  .b3 a:hover,#case_middle  .b3 a:active{
    text-decoration: none;
    color: blue;
}
#about{
    width: 1920px;
    height: 644px;
    background: url("走进国伟企业_02.png") no-repeat;
    margin: 2px 0px 0px 0px;
    padding: 0px;
    border: 1px solid #f3f2f2;
}
#about .bt1{
    font-size: 15px;
    font-weight: bold;
    background-color: #d3504e;
    border: 1px solid  #d3504e;
    padding:8px 25px 4px 25px;
    margin: 185px 0px 0px 965px;
    cursor: pointer;
}
#about .bt2,#about .bt3,#about .bt4{
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border:1px solid #88cbe9;
    padding:8px 25px 4px 25px;
    margin: 185px 0px 0px 38px;
}

#about .bt5{
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border:1px solid #88cbe9;
    margin: 250px 0px 0px 1475px;
}
#about .bt1 a:link,#about.bt1 a:visited{
     color: white;
     text-decoration: none;
 }
#about .bt1 a:hover,#about.bt1 a:active{
    color: white;
    text-decoration: none;
}
#about .bt5 a:link,#about.bt5 a:visited{
    color: white;
    text-decoration: none;
}
#about .bt5 a:hover,#about.bt5 a:active{
    color: blue;
    text-decoration: none;
}
#about .bt2 a:link,#about .bt3 a:link,#about .bt4 a:link,#about .bt2 a:visited,#about .bt3 a:visited,#about .bt4 a:visited{
    color: white;
    text-decoration: none;
}
#about .bt2 a:hover,#about .bt3 a:hover,#about .bt4 a:hover,#about .bt2 a:active,#about .bt3 a:active,#about .bt4 a:active{
    color: blue;
    text-decoration: none;
}
#news{
    margin: 0px;
    padding: 0px;
    color: black;
    background: url("新闻_02.png") no-repeat;
    background-color: white;
    width: 1920px;
    height: 474px;
}
#news_center{
    width: 1200px;
    height: 474px;
    margin: 0px auto;
}
#news_center #news_left{
    margin: 0px;
    padding: 132px 0px 0px 0px;
}
#news_center #news_left_top span{
    color: #cf3e3c;
    margin: 0px 0px 0px 230px;
}
#news_center #news_left_top p{
    color: #4d4e52;
    margin: 0px 0px 0px 230px;
}
#news_left_top p a:link,#news_left_top p a:visited{
    text-decoration: none;
    color: #cf3e3c;
}
#news_left_top p a:hover,#news_left_top p a:active{
    text-decoration: none;
    color: blue;
}
#news_left #news_left_button ul{
    list-style: none;
    margin: 0px 0px 0px 230px;
    padding: 0px 0px 0px 0px;
}
#news_left #news_left_button ul li{
    margin: 40px 0px;
}
#news_left #news_left_button ul li a:link,#news_left #news_left_button ul li a:visited{
    text-decoration: none;
    color:#4d4e52;
}
#news_left #news_left_button ul li a:hover,#news_left #news_left_button ul li a:active{
    text-decoration: none;
    color: red;
}
#news_left img{
    float: right;
    margin: -300px 0px 0px 0px;
    border: none;
}
#foot{
    background: url("底部背景图片_06.png") no-repeat;
    width: 1920px;
    height: 233px;
    margin: 0px;
}
#foot h4 {
    float: right;
    margin: 30px 330px 0px 0px;
}
#foot h4 span{
    margin: 0px 30px 0px 0px;
}
#foot h4 span a:link,#foot h4 span a:visited{
    color: #b4b4b4;
    text-decoration: none;
}
#foot h4 span a:hover,#foot h4 span a:active{
    text-decoration: none;
    color: #537adc;
}